/* 共通 */
*{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:#333;
}

li{
    list-style:none;
}

html{
    font-size:100%;
}

body{
    font-size:16px;
    color:#333;
    font-family: 'Noto Sans JP', "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.btn:hover{
    box-shadow:none;
    transform:translate(5px,5px);
    background:#fff;
    color:#e83434;
    border:2px solid #e83434;
}

.btn:hover::before{
    border-top:2px solid #e83434;
    border-right:2px solid #e83434;
}

.fadeOut{
    opacity:0;
    transform:translateY(40%);
    transition:1s;
}

.fadeIn{
    opacity:1;
    transform:translateY(0);
}

/* header */
#header{
    width:100%;
    height:80px;
    position:fixed;
    top:0;
    box-sizing:border-box;
    z-index:10;
    background:#fff;
}

.header-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#header-logo{
    width:180px;
    padding-left:20px;
}

#header-logo a{
    transition:0.2s;
    font-weight:bold;
    font-size:2rem;
}

#header-logo a:hover{
    opacity:0.6;
}

.header-nav-list{
    display:flex;
    align-items:center;
    padding-top:10px;
}

.header-nav-item{
    margin-left:40px;
    text-align:center;
}

.header-nav-item a{
    position:relative;
}

.header-nav-item a::after{
    content:"";
    position:absolute;
    bottom:-5px;
    left:0;
    width:0%;
    height:2px;
    background:#e83434;
    transition:0.3s;
}

.header-nav-item a:hover::after{
    width:100%;
}

.header-nav-item-en{
    font-size:1.25rem;
    font-weight:700;
    line-height:1;
    letter-spacing:0.06em;
    color:#e83434;
}

.header-nav-item-ja{
    display:block;
    font-size:0.875rem;
    font-weight:bold;
    letter-spacing:0.06em;
    margin-top:4px;
}

#header-form{
    background:#e83434;
    width:300px;
    height:80px;
    margin-left:40px;
    text-align:center;
}

.header-form-link{
    color:#fff;
    position:relative;
}

.header-form-link::before{
    content:"";
    display:block;
    position:absolute;
    top:30px ;
    right:15px;
    bottom:30px;
    width:12px;
    height:12px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(45deg);
}

.header-form-link-time{
    display:inline-block;
    font-size:1.125rem;
    font-weight:bold;
    letter-spacing:0.06em;
    margin-top:8px;
    position:relative;
}

.header-form-link-time::before{
    content:"";
    position:absolute;
    top:12px;
    left:-25px;
    width:20px;
    height:2px;
    background:#fff;
    transform:rotate(50deg);
}

.header-form-link-time::after{
    content:"";
    position:absolute;
    top:12px;
    right:-25px;
    width:20px;
    height:2px;
    background:#fff;
    transform:rotate(-50deg);
}

.header-form-link-contact{
    display:block;
    font-size:1.5rem;
    font-weight:bold;
    letter-spacing:0.06em;
    margin-top:3px;
}

/* top */
.top{
    position:relative;
}

 .background-img{
    width:100%;
    height:100vh;
}

.background-img img{
    width:100%;
    height:100vh;
    object-fit:cover;
} 

/*.background-img::after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
     box-shadow:0 0 20px 20px #fff inset; 
} */

.top-content{
    position:absolute;
    top:0;
    left:0;
    padding-top:160px;

}

.top-inner{
    max-width:1270px;
    padding:0 100px;
}

.top-inner-title-pc{
    font-size:3.25rem;
    font-weight:bold;
    line-height:70px;
    letter-spacing:0.15em;
}

.top-inner-desc-pc{
    font-size:1.0625rem;
    line-height:29px;
    letter-spacing:0.08em;
    margin-top:30px;
}

.top-inner-btn{
    margin-top:50px;
}

.top-inner-btn a{
    display:inline-block;
    color:#fff;
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    background:#e83434;
    border-radius:40px;
    box-shadow:5px 5px 0 #ba1616;
    padding:19px 67px;
    position:relative;
    transition:0.3s;
}

.top-inner-btn a::before{
    content:"";
    display:block;
    position:absolute;
    top:30px ;
    right:30px;
    bottom:30px;
    width:12px;
    height:12px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(45deg);
}

/* first-catch */
#first-catch{
    max-width:1070px;
    width:100%;
    margin:0 auto;
    text-align:center;
    padding:100px 0;
}

#first-catch p{
    font-size:1.5rem;
    margin-bottom:10px;
}

#first-catch h2{
    font-size:2rem;
}

#first-catch strong{
    color:#e83434;
    font-size:2.25rem;
    border-bottom:3px double #e83434;
}

#second-catch{
    max-width:900px;
    width:100%;
    margin:0 auto;
}

.catch-flex-odd{
    display:flex;
    align-items:center;
    margin-bottom:60px;
    opacity:0;
}

.catch-flex-odd.show1{
    animation:scaleUp 0.5s ease-out 0s 1 forwards;
}

@keyframes scaleUp{
    0%{
        transform:scale(0);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}

.catch-flex-even{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-bottom:60px;
    opacity:0;
}

.catch-flex-even.show1{
    animation:scaleUp 0.5s ease-out 0s 1 forwards;
}

.catch-flex-img{
    width:110px;
    background:#eee;
    border-radius:50%;
}

.catch-flex-desc-odd{
    margin-left:25px;
    width:60%;
    position:relative;
}

.catch-flex-desc-even{
    margin-right:25px;
    width:60%;
    position:relative;
}

.catch-flex-desc-odd::before{
    content:"";
    font-size:0;
    border:15px solid transparent;
    border-right:15px solid #e9f1fb;
    position:absolute;
    top:50%;
    left:0;
    margin-left:-30px;;
}

.catch-flex-desc-even::before{
    content:"";
    font-size:0;
    border:15px solid transparent;
    border-left:15px solid #e9f1fb;
    position:absolute;
    top:50%;
    right:0;
    margin-right:-30px;;
}

.catch-flex-desc-odd p{
    background:#e9f1fb;
    padding:20px;
    border-radius:15px;
}

.catch-flex-desc-even p{
    background:#e9f1fb;
    padding:20px;
    border-radius:15px;
}

.down-arrow{
    width:calc(50% - 16px);
    margin:0 auto;
    text-align:center;
    transform:rotate(90deg);
    color:#e83434;
}

#third-catch{
    max-width:1070px;
    width:100%;
    margin:0 auto;
    text-align:center;
    padding:100px 0;
}

.third-catch-title-top{
    font-size:1.5rem;
    margin-bottom:10px;
    position:relative;
}

.third-catch-title-top::before{
    content:"";
    display:block;
    width:2px;
    height:36px;
    background:#333;
    transform:rotate(-37deg);
    position:absolute;
    top:-4px;
    left:350px;
}

.third-catch-title-top::after{
    content:"";
    display:block;
    width:2px;
    height:36px;
    background:#333;
    transform:rotate(37deg);
    position:absolute;
    top:-4px;
    right:350px;
}

.third-catch-title-bottom{
    font-size:1.5rem;
    margin-top:15px;
}

.third-catch-title h2{
    font-size:2rem;
    color:#e83434;
    border-bottom:3px double #e83434;
    padding-bottom:5px;
}

.shine{
    display:inline-block;
    position:relative;
    outline:none;
    overflow:hidden;
}

.shine::before{
    content:"";
    position:absolute;
    top:0;
    left:-75%;
    width:50%;
    height:100%;
    background:linear-gradient(to right,rgba(255,255,255,0)0%,rgba(255,255,255,.5)100%);
    transform:skewX(-25deg);
    animation:shine 2s infinite;
}

@keyframes shine{
    100%{
        left:125%;
    }
}

/* aboutus */
#aboutus{
    width:100%;
    max-width:100%;
    margin-bottom:120px;
}

.sec-title{
    font-size:5rem;
    text-align:center;
    color:#e83434;
    font-weight:700;
    letter-spacing:0.05em;
}

.sub-title{
    font-size:1.875rem;
    color:#333;
    display:block;
    padding:15px 0 0px;
}

.about-main{
    text-align:center;
    background:#e83434;
}

.about-main-title{
    text-align:center;
    font-size:1.4rem;
    font-weight:bold;
    padding:60px 0 20px;
    color:#fff;
    display:inline-block;
    margin:0 auto;
    width:100%;
    box-sizing:border-box;
}

.about-main-text{
    padding:30px 0 60px;
}

/* feature */
#feature{
    margin-bottom:120px;
}

.feature-contents{
    max-width:1170px;
    width:100%;
    margin:0 auto;
    text-align:center;
    padding:60px 0;
}

#bg-red{
    font-size:1.5rem;
    font-weight:bold;
    color:#fff;
    background:linear-gradient(transparent 75%, #e83434 75%);
    display:inline-block;
    margin:0 auto 80px;
    position:relative;
}

#bg-red::before{
    content:"";
    width:80px;
    height:2px;
    background:#fff;
    position:absolute;
    top:50%;
    left:-120px;
}

#bg-red::after{
    content:"";
    width:80px;
    height:2px;
    background:#fff;
    position:absolute;
    top:50%;
    right:-120px;
}

.feature-contents-title{
    font-size:1.5rem;
    font-weight:bold;
    background:linear-gradient(transparent 75%, #ff9393 75%);
    display:inline-block;
    margin:0 auto 80px;
    position:relative;
}

.feature-contents-title::before{
    content:"";
    width:80px;
    height:2px;
    background:#e83434;
    position:absolute;
    top:50%;
    left:-120px;
}

.feature-contents-title::after{
    content:"";
    width:80px;
    height:2px;
    background:#e83434;
    position:absolute;
    top:50%;
    right:-120px;
}

.feature-contents-study-list{
    display:flex;
    justify-content:space-between;
}

.feature-contents-study-item{
    width:30%;
    background:#fff;
    border-radius:10px;

}

.feature-contents-study-item.show1{
    animation:scaleUp 0.5s ease-out 0s 1 forwards;
}

.feature-contents-study-item img{
    width:100%;
    object-fit:cover;
    vertical-align:bottom;
    border-radius:10px 10px 0 0;
}

.feature-contents-study-item h5{
    font-size:1.2rem;
    color:#e83434;
    padding:10px 0;
}

.feature-contents-study-item p{
    font-size:0.9rem;
    text-align:center;
    padding:10px;
}

.about-main-text{
    color:#fff;
}

.feature-contents-curriculum-item{
    display:flex;
    justify-content:space-between;
    margin-bottom:70px;
}

.feature-contents-curriculum-item:last-child{
    margin-bottom:0;
}

.curriculum-img{
    width:47%;
}

.curriculum-img img{
    width:100%;
    object-fit:cover;
    vertical-align:bottom;
}

.curriculum-desc{
    width:47%;
    text-align:left;
    padding:20px;
    box-sizing:border-box;
    opacity:0;
}

.curriculum-desc-odd.show2{
    animation:slideRight 0.5s ease-out 0s 1 forwards;
}

@keyframes slideRight {
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0%);
        opacity:1;
    }
}

.curriculum-desc-even.show2{
    animation:slideLeft 0.5s ease-out 0s 1 forwards;
}

@keyframes slideLeft{
    0%{
        transform:translateX(-50%);
    }
    100%{
        transform:translateX(0%);
        opacity:1;
    }
}

.curriculum-desc-flex{
    display:flex;
    align-items:center;
    margin-bottom:30px;
}

.curriculum-desc-num{
    font-size:5rem;
    color:#fff;
    -webkit-text-stroke: 2px #ffb770;
    padding-right:20px;
}

.curriculum-desc-title{
    font-size:1.5rem;
    font-weight:bold;
}

.curriculum-desc p{
    line-height:2;
}

.detail-btn a{
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: #e83434;
    border-radius: 40px;
    box-shadow: 5px 5px 0 #ba1616;
    padding: 19px 67px;
    position: relative;
    transition:0.3s;
}

.detail-btn a::before{
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

/* support */
#support{
    margin-bottom:120px;
}

.support-contents{
    max-width:1170px;
    width:100%;
    margin:0 auto;
    text-align:center;
    padding:60px 0;
}

#feature-contents-title-top{
    font-size: 1.5rem;
    margin-bottom: 10px;
    position: relative;
}

#feature-contents-title-top::before{
    content: "";
    display: block;
    width: 2px;
    height: 36px;
    background: #333;
    transform: rotate(-37deg);
    position: absolute;
    top: -4px;
    left: 420px;
}

#feature-contents-title-top::after{
    content: "";
    display: block;
    width: 2px;
    height: 36px;
    background: #333;
    transform: rotate(37deg);
    position: absolute;
    top: -4px;
    right: 420px;
}

#feature-contents-title-h2{
    border-bottom:none;
    color:#333;
}

#feature-contents-title-h2 strong{
    border-bottom:2px double #e83434;
    color:#e83434;
    font-size:2.25rem;
}

.support-contents-h4{
    font-size:1.8rem;
    font-weight:bold;
    margin:40px 0;
    background: linear-gradient(transparent 75%, #ffb770 75%);
    display:inline-block;
}

.support-contents-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.support-contents-item{
    width:48%;
    box-shadow:0 0 8px 4px #ccc;
    opacity:0;
}

.support-contents-item.show1{
    animation:scaleUp 0.5s ease-out 0s 1 forwards;
}

.support-contents-item:first-child{
    margin-bottom:45px;
}

.support-contents-item:nth-child(2){
    margin-bottom:45px;
}

.support-contents-item-text{
    padding:20px;
}

.text-black{
    color:#333;
    font-size:1.125rem;
}

.text-red{
    display:block;
    color:#e83434;
    font-size:1.25rem;
    font-weight:bold;
}

.support-contents-item img{
    width:100%;
    height:315px;
    object-fit:cover;
    vertical-align:bottom;
}

.support-contents-item-desc{
    padding:20px;
}

/* price */
#price{
    margin-bottom:120px;
    text-align:center;
}

.price-item{
    width:500px;
    margin:60px auto;
    box-shadow:0 0 8px 4px #ccc;
    padding:40px 40px 20px;
}

.price-desc{
    color:#333;
    font-size:1rem;
}

.price-detail{
    display:flex;
    text-align:end;
}

.price-num{
    font-size:6.25rem;
    font-weight:bold;
    line-height:1.15;
    letter-spacing:-0.2em;
    margin-right:20px;
    color:#e83434;
}

.price-col{
    padding-top:20px;
}

.price-tax{
    font-size:0.875rem;
}

.price-unit{
    font-size:2rem;
}

.price-tale{
    font-size:1.25rem;
    color:#333;
    padding-top:50px;
}

.price-gift{
    font-size:3rem;
    font-weight:bold;
    border-bottom:10px double #e83434;
    display:inline-block;
    margin-bottom:50px;
}

.price-back{
    opacity:0;
}

.price-back.show1{
    animation:scaleUp 0.5s ease-out 0s 1 forwards;
}

.price-back-voice{
    background:#000;
    color:#fff;
    font-size:1rem;
    padding:6px 30px;
    display:inline-block;
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    position:absolute;
    left:40%;
    transform:translateY(-50%);
    z-index:1;
}

.price-back-contents{
    position:relative;
    width:500px;
    padding:30px 40px 20px;
    box-shadow:0 0 8px 4px #ccc;
    margin:60px auto;
    background:#e83434;
}

.price-back-contents-text{
    font-size:1.125rem;
    color:#fff;
    font-weight:normal;
}

.price-back-contents-text strong{
    font-size:1.25rem;
}

.price-back-detail{
    background:#fff;
    padding:20px;
}

.price-back-detail-text{
    font-size:3rem;
    font-weight:bold;
}

.price-inner-btn{
    margin-top:50px;
}

.price-inner-btn a{
    display:inline-block;
    color:#fff;
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    background:#e83434;
    border-radius:40px;
    padding:19px 67px;
    position:relative;
    transition:0.3s;
}

.price-inner-btn a::before{
    content:"";
    display:block;
    position:absolute;
    top:30px ;
    right:30px;
    bottom:30px;
    width:12px;
    height:12px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(45deg);
}

.price-inner-btn a:hover{
    background:#fff;
    color:#e83434;
    outline:2px solid #e83434;
}

.price-inner-btn a:hover::before{
    border-top:2px solid #e83434;
    border-right:2px solid #e83434;
}

/* faq */
.accordion-area{
    max-width:960px;
    width:100%;
    margin:60px auto 120px;
}

.accordion-item{
    display:block;
    width:100%;
    border-bottom:1px solid #ddd;
    position:relative;
}



.accordion-item::before{
    content:"Q";
    font-size:1.5rem;
    color:#e83434;
    position:absolute;
    top:9px;
    left:10px;
}

.accordion-title{
    display:block;
    color:#333;
    margin-bottom:1px;
    padding:10px 0 15px 40px;
    font-size:1.125rem;
    letter-spacing:0.04em;
    position:relative;
    transition:all .5s ease;
    cursor:pointer;
}

.accordion-title::before{
    content:"";
    width:20px;
    height:2px;
    background:#333;
    position:absolute;
    top:20px;
    right:1%;
}

.accordion-title::after{
    content:"";
    content:"";
    width:20px;
    height:2px;
    background:#333;
    position:absolute;
    top:20px;
    right:1%;
    transform:rotate(90deg);
    transition:all .5s ease;
}

.accordion-title.close::after{
    transform:rotate(0deg);
}

.accordion-desc{
    display:none;
    padding:10px 0 15px 40px;
}

/* footer */
#footer{
    width:100%;
    background:#ccc;
    text-align:center;
}

.footer-contents{
    padding:40px 80px;
    box-sizing:border-box;
}

.footer-link-list{
    display:flex;
    justify-content:center;
}

.footer-link-item{
    padding:0 20px;
    border-right:1px solid #333;
}

.footer-link-item:last-child{
    border-right:none;
}

.footer-link-item a{
    position:relative;
}

.footer-link-item a::after{
    content:"";
    position:absolute;
    bottom:-5px;
    left:0;
    width:0%;
    height:1px;
    background:#333;
    transition:0.3s;
}

.footer-link-item a:hover::after{
    width:100%;
}

.footer-inner-btn{
    margin:30px 0;
}

.footer-inner-btn a{
    display:inline-block;
    color:#fff;
    font-size:1.2rem;
    font-weight:bold;
    text-align:center;
    background:#e83434;
    border-radius:40px;
    padding:12px 40px;
    position:relative;
    transition:0.3s;
}

.footer-inner-btn a::before{
    content:"";
    display:block;
    position:absolute;
    top:19px ;
    right:15px;
    bottom:30px;
    width:12px;
    height:12px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(45deg);
}

.footer-inner-btn a:hover{
    background:#fff;
    color:#e83434;
    outline:2px solid #e83434;
}

.footer-inner-btn a:hover::before{
    border-top:2px solid #e83434;
    border-right:2px solid #e83434;
}

.copy-right{
    font-size:0.875rem;
    padding:10px 0;
}